.grid-container {
    position: absolute;
    top: 0px;
    left: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.content {
    margin: 6px;
    width: 600px;
    grid-column: 2;
    color: white;
    background-color: blue;
}

img {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}